<div class="container text-light flex-column text-center justify-content-center">
    <div class="col-6 mx-auto">
        <h1>¿Quién soy?</h1>
        <p>
            Mi nombre es <strong>Bruno Boccasile</strong>.
            <br>
            Soy un estudiante del cuarto cuatrimestre de la Tecnicatura Universitaria en Programación en la Universidad
            Tecnológica Nacional (UTN FRA)
        </p>
        <img src="../../../assets/images/quiensoy.jpg" width="200px" class="rounded-5 mb-5">
    </div>
    <div class="row">
        <div class="col-6 ">
            <h3>Acerca de la página</h3>
            <p>
                "Sala de Juegos" está desarrollada en Angular y corresponde a un Trabajo Práctico de la materia
                Laboratorio IV.
                En la página web se podrá acceder a distintas funcionalidades, principalmente juegos como "Ahorcado",
                "Mayor o menor" y "Preguntados".
            </p>
        </div>
        <div class="col-6 ">
            <h3>Explicación del juego</h3>
            <p>
                Próximamente...
            </p>
        </div>
    </div>
    <div class="col-6 mx-auto d-flex justify-content-center mt-5">
        <img src="../../../assets/images/ghub.png" width="64"> 
        <h3 class="m-3">BrunoBoccasile</h3> 
    </div>
    <a href="https://github.com/BrunoBoccasile" target="_blank" class="btn btn-success rounded-pill border-secondary">Ir a mi GitHub</a>

</div>