<div class="py-4 px-4">
    @if (authService.auth.currentUser != null) 
    {
        <div class="card bg-dark text-light position-absolute" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Datos usuario</h5>
                <p class="card-text"><strong>Usuario:</strong> {{this.authService.auth.currentUser.email}}</p>
            </div>
        </div>
    }
    <div class="mt-5 row d-flex justify-content-center mt-" style="height: 200px;">
        <div class="col-xl-3 col-lg-4 col-md-5 col-5 bg-secondary border border-danger text-center text-light d-flex flex-column p-5">
            <h1 class="text-truncate">Juegos</h1>
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Ahorcado" (click)="irARuta('ahorcado')">
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Mayor o menor" (click)="irARuta('mayormenor')">
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Preguntados" (click)="irARuta('preguntados')">
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="El doce" (click)="irARuta('eldoce')">
        </div>
        <div class="col-1">
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 col-5 bg-secondary border border-danger text-center text-light d-flex flex-column p-5">
            <h1 class="text-truncate">Listados</h1>
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Listado ahorcado">
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Listado mayor o menor">
            <input type="button" class="btn btn-danger rounded-pill border-secondary mt-4" value="Listado preguntados">
        </div>
    </div>
    <div class="z-n1 fixed-bottom position-absolute d-flex justify-content-center" style="width: 100%;">
        <img src="../../../assets/images/cartas.png">
        <img src="../../../assets/images/dados.webp">
    </div>
</div>