<div class="paginaRegistro">
  <div class="container text-center text-light user-select-none" style="height: 800px;">
    @if(authService.auth.currentUser == null)
    {
      <h1>
        Crear cuenta
      </h1>
      <p>
        Por favor, ingrese un usuario y una contraseña para crear su cuenta
      <p>
    
      <div class="d-flex flex-column col-sm-4 mx-auto h-25 mt-4">
        <input class="mb-3 form-control h-25 rounded-pill bg-dark border border-secondary" style="color: white;" type="text" placeholder="Usuario" [(ngModel)]="newUserMail">
        <input class="form-control h-25 rounded-pill bg-dark border-secondary"style="color: white;" type="text" placeholder="Contraseña" [(ngModel)]="newUserPWD" type="password">
        <button class="btn btn-success h-25 rounded-pill border-secondary mt-4" (click)="register()">Registrarse</button>
        
      </div>
      <div class="d-flex justify-content-center">
        @if ((authService.errorRegistro && authService.loggedUser == "")) 
        {
          <p class="text-danger"><strong>ERROR: </strong> {{authService.mensajeErrorRegister}}</p>
        }
      </div>
    }
  </div>
</div>