<div class="loginForm">
  <div class="container text-center text-light user-select-none" style="height: 800px;">
    @if(authService.auth.currentUser == null)
    {
      <h1>
        Inicio de sesión
      </h1>
      <p>
        Por favor, ingrese sus credenciales
      <p>
  
      <div class="d-flex flex-column col-sm-4 mx-auto h-25 mt-4">
        <input class="mb-3 form-control h-25 rounded-pill bg-dark border border-secondary" style="color: white;"
          type="text" placeholder="Usuario" [(ngModel)]="userMail">
        <input class="form-control h-25 rounded-pill bg-dark border-secondary" style="color: white;" type="text"
          placeholder="Contraseña" [(ngModel)]="userPWD" type="password">
        <button class="btn btn-success h-25 rounded-pill border-secondary mt-4" (click)="logIn()">Iniciar sesión</button>
      </div>
  
      <p>
        ¿Todavía no ha creado una cuenta?, haga click <a (click)="irARegistro()" role='button'
          class="text-success pe-auto">aquí</a> para crear una.
      </p>
      <input type="button" value="Acceso rápido 1" class="btn btn-warning rounded-pill m-1" (click)="accesoRapido(1)">
      <input type="button" value="Acceso rápido 2" class="btn btn-danger rounded-pill m-1" (click)="accesoRapido(2)">
      <div class="d-flex justify-content-center">
        @if ((authService.errorLogin && authService.loggedUser == "")) 
        {
          
          <p class="text-danger"><strong>ERROR: </strong> {{authService.mensajeErrorLogin}}</p>
        }
      </div>
    }
  </div>
</div>

<router-outlet></router-outlet>